@mixin flex($justify:null, $align:null, $direction: null,){
    display: flex; 
    @if $justify != null {
        justify-content: $justify;
      }
      
      @if $align != null {
        align-items: $align;
      }
      
      @if $direction != null {
        flex-direction: $direction;
      }
    }

    @mixin button($bckg:null, $clr:null, $border: null, $wght: null, $hgt: null, $fsz: null,){
      @if $bckg != null {
        background-color: $bckg;
      }
      
      @if $clr != null {
        color: $clr;
      }
      
      @if $border != null {
        border: $border;
      }

      @if $wght != null {
        font-weight: $wght;
      }

      @if $hgt != null {
        height: $hgt;
      }

      @if $fsz != null {
        font-size: $fsz;
      }
      
    }

*{
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
  @include flex(flex-end );
    background-color: rgb(187, 159, 0);

    h1{
        font-size: 60px;
        color: rgb(24, 24, 255);
    }
    
}

.subtitulo{
  @include flex(flex-end );
  background-color: rgb(0, 96, 125);
  h3{
    font-size: 35px;
    color: rgb(215, 204, 1);
}
}

.acertijos{
  background-color: rgb(56, 18, 132);
  width: 600px;
}
.textoAcertijo{
  color: aliceblue;
  font-size: 30px;
}





.buttons{
  @include flex($align: center );
  
  .Usar{
    @include button(rgb(1, 148, 13), azure, 0px, bold, 40px, 15px);
  }

  .Usar:hover{
    @include button(rgb(3, 174, 18));
  }

  .Usar:active{
    @include button( rgb(255, 255, 255), black, 0px);
  }

  .noUsar{
    @include button(rgb(148, 23, 1), azure, 0px, bold, 40px, 15px);
  }

  .noUsar:hover{
    @include button(rgb(174, 40, 3))
  }

  .noUsar:active{
    @include button( rgb(255, 255, 255), black,);
  }

  .jugando{
    background-color: rgb(70, 70, 70)
  }
  .jugando:hover{
    background-color: rgb(70, 70, 70)
  }
  .jugando:active{
    background-color: rgb(70, 70, 70)
  }

  .Jugar{
    @include button(rgb(241, 249, 0), rgb(29, 48, 255), 0px, bold, 40px, 25px);
  }

  .Jugar:hover{
    @include button(rgb(163, 255, 43));
  }

  .Jugar:active{
    @include button(rgb(213, 1, 232));
  }
}

.contenedor{
    @include flex(center, center, row);
    background: rgb(75,5,125);
    width: 500px;
    h4{
      font-size: 20px;
      color: rgb(24, 255, 182);
    }
  
    button{
      @include button( rgb(75,5,125), azure, 0px, bold, 20px, 20px);
    }
  
    button:hover{
      background-color: rgb(0, 27, 231);
    }
  
    button:active{
      background-color: rgb(4, 141, 245);
    }
  }
  
  .acertijo { grid-area: acertijo; }
  
  .dificultad { grid-area: dificultad; }
  
  .respuesta { grid-area: respuesta; }
  
  .link { grid-area: link; }
  
  input{
    width: 100px;
  }
  .noDisplay{
    display: none
  }
  .siDisplay{
    width:500px ;
    display: inline-block
  }
  .formButtons{
    @include flex(null, center, row);

    .formButton{
      @include button(null, rgb(93, 93, 93), 0px, bold, fit-content, 20px );   
    }
    .submit{
      background-color: rgba(0, 255, 21, 0.75);
    }
    .submit:hover{
      background-color: rgba(77, 255, 163, 0.75);
    }
    .submit:active{
      background-color: rgba(155, 255, 225, 0.75);
    }
    .cerrar{
      background-color: rgb(255, 0, 0, 0.75);
    }
    .cerrar:hover{
      background-color:  rgba(255, 126, 67, 0.75);
    }
    .cerrar:active{
      background-color:  rgba(255, 206, 101, 0.75);
    }
  }